version: "3"
services:
  frontend:
    build:
      context: client
      dockerfile: Dockerfile
    depends_on:
      - backend
    stdin_open: true
    ports:
      - 3000:3000
      
  backend:
   build:
      context: backend
      dockerfile: Dockerfile
   
     