version: "3"
services:
  frontend:
    build:
      context: client
      dockerfile: Dockerfile
    depends_on:
      - backend
    stdin_open: true
    ports:
      - 3000:3000
      
  backend:
   build:
      context: backend
      dockerfile: Dockerfile
   environment:
    MONGODB_URI: 'mongodb+srv://jmthuo:Mukoma+32357037@cluster0.d0hrvox.mongodb.net/?retryWrites=true&w=majority'
    PORT: 5000

   ports:
     - 5000:5000
     